html, body {
	margin: 0;
	padding: 0;
	border: 1;
	font-size: 100%;
	vertical-align: baseline;
}
nav {
	background-color: orangered
}

body {
	line-height: 1.6;
}

nav, ul {
	list-style: none;
	font-size: 1.4rem;
	font-weight: 700;
	
}
a {
	text-decoration: none;
	color: lightgray;
	font-family: 'Libre Baskerville', serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
}

header, nav, main, img, footer {
	max-width: 960px; margin: 0 auto;
}

nav {
	background-color: orangered;
	text-align: center;
	padding: 10px;
	padding-top: 1rem;
	font-size: 1rem;
	text-decoration: none;
}

.header {
	font-size: 1.5rem;
	color: #fff;
}

main {
	padding: .3rem 2%; 
	display: block;
}
main h1 {
	color: #e05b13;
	font-size: 2rem;
	padding-top: 1rem;
}
main h2 {
	color: #004b8e;
	font-size: 1.5rem;
	padding-top: 1rem;
}
main p{
	line-height: 125%;
	padding-bottom: .25rem;
}
main fieldset {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: .5rem 2%;
	margin-top: 1rem;
}
main fieldset legend {
	color:#004b8e; 
	font-weight: 700;
}

main form label {
	display: block;
	padding: .4rem 0;
	font-size: .75rem;
   
}
main form span {
	display: block;
	font-size: .7rem;
     color: #004b8e;
}
main form input {
	width: 6rem;
	font-size: .95rem;
}
main form select {
	width: 15rem;
}
main button {
	width: 240px;
	border: none;
	padding: .8rem;
	color: #fff;
	font-size: 1rem;
	border-radius: 10px;
	margin-top: 1rem;
	background: #004b8e;
	background: linear-gradient(to bottom,orangered 1%,#e05b13 100%);
}

footer {
	text-align: center;
	background: #e05b13;
	color: #fff;
	font-size: .75rem;
	padding: 1rem 0;
}


.keepOpen{
	clear: both;
}

main figure img {width: 100%;}

@media only screen and (min-width: 30em) {
   main figure {width:70%;float: right;} 
}